.collapse-item.text-white:hover {
    background-color: #17a2b8 !important;
}
.table-bordered tbody tr.group-separator td {
    border-top: 0px solid #dee2e6;
}
@media (max-width: 768px) {
    .sidebar-divider + .sidebar-heading {
        display: none;
    }
}